/DynamicLinkLibrary/DynamicLinkLibrary/bin
/DynamicLinkLibrary/DynamicLinkLibrary/lib
/DynamicLinkLibrary/.vs
/DynamicLinkLibrary/DynamicLinkLibrary/DynamicLinkLibrary.vcxproj.user
/DynamicLinkLibrary/dotnetWrapper/bin
/DynamicLinkLibrary/dotnetWrapper/obj
